* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f9f9f9;
  --color-1: #8672af;
  --color-2: #333;
  --color-3: #6b52a1;
  --color-4: #f65a83;
  --montserrat: "Montserrat", sans-serif;
  --cantata-one: "Cantata One", serif;
  --bree-serif: "Bree Serif", serif;
  --roboto: "Roboto", sans-serif;
  --inter: "Inter", sans-serif;
}

.jumbotron {
  background: var(--color-2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.jumbotron .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
  color: #eaeaea;
}

.jumbotron .container div:nth-child(1) {
  align-self: center;
}

.jumbotron-carousel {
  background: var(--main-color);
  width: 50%;
  border-radius: 5px;
  text-align: center;
  margin-top: 100px;
  padding: 10px;
}

.carousel-item {
  color: var(--color-3);
  font-family: var(--bree-serif);
}

.jumbotron-hr {
  border: none;
  border-top: 5px solid #eaeaea;
}

.jumbotron-header {
  font-family: var(--montserrat);
}

.jumbotron-header h1 span {
  color: var(--color-4);
}

.jumbotron-header p {
  opacity: 0.8;
  letter-spacing: 2px;
  font-size: 20px;
}

/* responsive */

@media only screen and (max-width: 576px) {
  /* jumbotron carousel */

  .jumbotron-carousel {
    width: 80%;
    margin-top: 50px;
  }

  /* end of jumbotron carousel */
}
